/* The Modal (background) */
.image-modal {
  display: none;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  /* Stay in place */
  z-index: 100000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  cursor: pointer;
}

/* Modal Content/Box */
.image-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.image-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.image-modal-close:hover,
.image-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#ImageViewport {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content {
  object-fit: fill;
  width: 100%;
}

.image-viewport {
  position: absolute;
  height: 100%;
  width: 100%;
}

.btn-container {
  transition: 1s;
  position: relative;
  width: calc(100% - 80px);
  z-index: +7;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.btn-control {
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  border-style: none;
  /* border-radius: 0px 0px 4px 4px; */
  height: 40px;
  color: rgb(51 51 51 / 75%);
  font-weight: bolder;
  cursor: pointer;
  background-color: unset;
  transition: background-color 0.3s ease 0s;
  /* position: relative; */
  /* margin: 0px 0px 0px 48px; */
  z-index: +1;
  transition: 0.4s;
}
.btn-rotate-left {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/left.svg');
}
.btn-rotate-right {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/right.svg');
}
.btn-rotate-next {
  border-radius: 0px 0px 4px 0px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/next.svg');
}
.btn-rotate-previous {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/previous.svg');
}
.btn-rotate-close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  background-size: 26px;
  border-radius: 0px 0px 0px 4px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: +2;
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/close.svg');
}
.btn-control:hover {
  background-color: white;

}
.btn-controlPL {
  transition: 0.4s;
  background-color: unset;
  width: 40px;
  height: 40px;

}
.btn-controlPL:hover {
  background-color: white;

}

.btn-close {
  border-bottom: solid 3px #FF3333;
}

.concealer {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 100;
}

#ImageContainer {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.left-side-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 5px 10px 5px;
  gap: 20px;

  position: absolute;
  width: 100px;
  height: 100%;
  background: rgb(51 51 51 / 12.5%);
  backdrop-filter: blur(6px);
  border-radius: 0px 10px 10px 0px;
  z-index: +2;
}
.thumbnails {
  width: 90px;
  height: 90px;
  transition: 0.5s;
  border-radius: 4px;
  object-fit: contain;
  position: relative;
  background: rgba(51, 51, 51, 0.3);
}
.thumbnails:hover {
  object-fit: contain;
  width: 250px;
  height: 250px;
  /* left: 80px; */

}
/* .thumbnails-substrate {
  position: absolute;
  width: 100px;
  height: 100%;
  backdrop-filter: blur(6px);
  z-index: 2;
  padding: 40px 5px 10px;
  gap: 20px;
  background: rgb(255 0 0 / 59%);
  border-radius: 0px 10px 10px 0px;
} */

/* Animations */
.scale-in-center {
	-webkit-animation: scale-in-center 0.4s linear both;
	        animation: scale-in-center 0.4s linear both;
}
.scale-in-center-reverse {
	-webkit-animation: scale-in-center 0.4s linear reverse;
	        animation: scale-in-center 0.4s linear reverse;
}
 @-webkit-keyframes scale-in-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 730px) {
  .btn-container {
    margin-left: 0px;
    width: calc(100% - 45px);
  }
  .btn-rotate-close {
    margin: 0px;
  }
  .thumbnails{
    width: 70px;
    height: 70px;
  }
  .thumbnails:hover {
    width: 120px;
    height: 120px;
  }
  .left-side-thumbnails {
    width: 80px;
  }

}